

.quiz-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &.bg1{
    background: white;
    background-image: 
      radial-gradient(
        purple 10%, black 20%, skyblue 40%, red 60%,
        violet 80%, magenta 100%,
      ),
      linear-gradient(65deg,
        rgba(245, 66, 239,.1) 10%,
        rgba(78, 239, 245,.0) 20%,
        rgba(245, 66, 239,.1) 30%),
      linear-gradient(-65deg,
        rgba(245, 66, 239,.1) 10%,
        rgba(78, 239, 245,.0) 20%,
        rgba(245, 66, 239,.1) 30%),
      radial-gradient(
        purple 10%, black 20%, skyblue 40%, red 60%,
        violet 80%, magenta 100%,
      ),
      
      radial-gradient(
        purple 10%, black 20%, skyblue 40%, red 60%,
        violet 80%, magenta 100%,
      );
    
    background-blend-mode: 
      lighten, 
      normal, 
      normal,
      overlay;
    background-size: 
      10em 10em,
      8em 8em,
      6em 6em,
      4em 4em,
      2em 2em;
    animation: transition 15s linear infinite;
    background-position: 
      50% 50%;
    }

    &.bg2{  
      --s: 90px; /* control the size */
      --d: 5px;  /* control the gap between stars */
      
      --_g: #fff220 36deg, #0000 0;   
      background:
        conic-gradient(from 162deg at calc(var(--s) * .5)  calc(var(--s) * .68), var(--_g)),
        conic-gradient(from 18deg  at calc(var(--s) * .19) calc(var(--s) * .59), var(--_g)),
        conic-gradient(from 306deg at calc(var(--s) * .81) calc(var(--s) * .59), var(--_g)),
        #e181c2;
      background-position: 0 calc(var(--s) * 0.35);
      background-size: calc(var(--s) + var(--d)) calc(var(--s) + var(--d));
    }

    &.bg3{
      --s: 120px; /* control the size */
      --c1: #e7525b;
      --c2: #78dbf0;
      
      --_g: 80%,var(--c1) 25.4%,#0000 26%;
      background:
        radial-gradient(at 80% var(--_g)),
        radial-gradient(at 20% var(--_g)),
        conic-gradient(from -45deg at 50% 41%,var(--c1) 90deg,var(--c2) 0) 
          calc(var(--s)/2) 0;
      background-size: var(--s) var(--s);
    }

    &.bg4{     
      --s: 25vmin;
      --p: calc(var(--s) / 2);
      --c1: pink;
      --c2: dodgerblue;
      --c3: white;
      --bg: var(--c3);
      --d: 4000ms;
      --e: cubic-bezier(0.76, 0, 0.24, 1);
      
      background-color: var(--bg);
      background-image:
        linear-gradient(45deg, var(--c1) 25%, transparent 25%),
        linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--c2) 75%),
        linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
      background-size: var(--s) var(--s);
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  0), 
        calc(var(--p) * -1) calc(var(--p) *  1), 
        calc(var(--p) *  1) calc(var(--p) * -1), 
        calc(var(--p) * -1) calc(var(--p) *  0);
      animation: 
        color var(--d) var(--e) infinite,
        position var(--d) var(--e) infinite;
    }

    &.bg5{
      background: linear-gradient(to right, #1e5799 0%,#2ce0bf 19%,#76dd2c 40%,#dba62b 60%,#e02cbf 83%,#1e5799 100%); 
      background-size: 10000px 100%;
      animation: bg 15s linear infinite ;
    }

    &.bg6{
      --s: 100px; /* control the size */
      --c1: #C3CCAF;
      --c2: #67434F;
      --_s: calc(2*var(--s)) calc(2*var(--s));
      --_g: var(--_s) conic-gradient(at 40% 40%,#0000 75%,var(--c1) 0);
      --_p: var(--_s) conic-gradient(at 20% 20%,#0000 75%,var(--c2) 0);
      background:
        calc( .9*var(--s)) calc( .9*var(--s))/var(--_p),
        calc(-.1*var(--s)) calc(-.1*var(--s))/var(--_p),
        calc( .7*var(--s)) calc( .7*var(--s))/var(--_g),
        calc(-.3*var(--s)) calc(-.3*var(--s))/var(--_g),
        conic-gradient(from 90deg at 20% 20%,var(--c2) 25%,var(--c1) 0) 
        0 0/var(--s) var(--s);
      animation: m 3s infinite;
    }

  .quiz-container{
    width: 640px;
    margin: auto;
    background: rgb(238, 211, 215);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
  
    h2{
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
    }
  
    hr{
      height: 2px;
      border: none;
      background: rgb(207, 202, 202);
    }
  
    p{
      font-size: 20px;
      font-weight: 600;
    }
  
    ul li{
      display: flex;
      align-items: center;
      height: 2rem;
      padding-left: 15px;
      border: 1px solid #686868;
      border-radius: 8px;
      margin-bottom: 20px;
      font-size: 20px;
      cursor: pointer;
    }

    .correct{
      background: #0be890;
    }
    
    .wrong{
      background: rgb(234, 42, 42);
    }

    .btn{
      margin: auto;
      width: 250px;
      height: 65px;
      background: rgb(192, 90, 107);
      color: #fff;
      font-size: 25px;
      font-weight: 500;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }

    .index{
      margin: auto;
    }
  }
}


